=form_tag('verification')

-if session[:erreurs_formes_traitees]
  %h1 Question de conjugaison au hasard
-else
  %h1 Question de conjugaison : erreurs récentes


%p
  =Time.duree(Time.at(session[:debut]))+' '
  \
  =current_user.stats(session[:bonnes_reponses],session[:mauvaises_reponses])

=hidden_field_tag 'id', value = params[:id]
=hidden_field_tag 'attendu', value = params[:attendu]
=hidden_field_tag 'question', value = params[:question]

-if params[:message] == nil
  %br
-elsif params[:message]
  =params[:attendu]\
  #bravo Bravo !
  %br
-else
  #erreur Erreur ! La réponse attendue est
  #attendu=params[:attendu]
  =text_field_tag 'ecrire', '', autofocus: true
  %br
%br
%h1=params[:question]
%h1=text_field_tag 'reponse', '', autocomplete: :off,autofocus: true, disabled: params[:message] != nil,data: { no_turbolink: true }
=button_tag 'à', type: 'button',id: 'a1',data: { no_turbolink: true }
=button_tag 'é', type: 'button',id: 'a2',data: { no_turbolink: true }
=button_tag 'è', type: 'button',id: 'a3',data: { no_turbolink: true }
=button_tag 'ì', type: 'button',id: 'a4',data: { no_turbolink: true }
=button_tag 'ò', type: 'button',id: 'a5',data: { no_turbolink: true }
=button_tag 'ù', type: 'button',id: 'a6',data: { no_turbolink: true }
%br
-if params[:message] == nil
  =button_tag 'Vérifier'
-else
  =button_tag 'Autre question', autofocus: true
