%h2 Vous êtes connecté
%p Vous pouvez toujours consulter les catégories de mots, le vocabulaire ou les conjugaisons, et déclarer une erreur.
%p La consultation du vocabulaire et des conjugaisons est resteinte aux mots et aux verbes qui répondent aux critères fournis par le paramétrage.
%p Les paramètres vous permettent de restreindre vos révisions aux mots et aux formes verbales respectant un ou plusieurs critères.
%p L'écran du paramétrage vous permet de les saisir, et vous informe au moment de la sauvegarde du nombre de mots ou de formes verbales concernés par les révisions ultérieures. Ce nombre doit être positif.
%p Vous pouvez réviser le vocabulaire, la conjugaison ou les deux en suivant le lien correspondant. Dans le cas d'une révision complète, une question de conjugaison vous sera posée une fois sur quatre environ.
%p La révision commence par des questions sur les erreurs faites à l'occasion de la révision précédente et se poursuit par des questions au hasard, en fonction du poids des mots et des formes verbales. Le poids de chaque mot ou de chaque forme verbale est contenu dans leur rubrique "compteur", que vous pouvez modifier en passant par la consultation du vocabulaire ou des conjugaisons.
%p Chaque réponse erronée double le poids du mot ou de la forme verbale concernée. Chaque bonne réponse le divise par deux.
%p Le bandeau gauche vous rappelle les paramètres de révision et indique sous forme de points la somme des poids des mots et des formes verbales concernées.
%p Si vous épuisez la liste des mots ou des formes verbales en cours de révision, on vous invitera à modifier vos paramètres.
%p Le bandeau droit affiche le bilan des révisions du jour.
