%h2 Vous n'êtes pas connecté
%p Vous pouvez consulter les catégories du vocabulaire, le vocabulaire et les conjugaisons en suivant le lien correspondant.
%p Si vous constatez une erreur dans le vocabulaire, dans les conjugaisons ou dans le fonctionnement de l'application, vous pouvez le signaler en suivant le lien 'Erreur'.
%p Pour réviser votre italien, vous devez d'abord vous connecter ou créer un compte en suivant le lien 'Connexion'.
