// Place all the styles related to the Verbes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table#saisie_verbe {
  .impair {
    background-color: lighten(#808080,30%);
  }
  .pair {
    background-color: white;
  }
  width: 95%;
  th#t {
    width: 5%;
  }
  th#p {
    width: 10%;
  }
  th#c {
    width: 5%;
  }
  input.compteur {
    width: 50%;
  }
  input.italien {
    width: 95%;
  }
}
table#par {
  input.compteur {
    width: 20%;
  }
}
@for $i from 1 through 3 {
  table#verbe#{$i} {
    border: 1px solid black;
    width: 100%;

    td {
      text-align: center;
    }
    th {
      width: 20%;

      #mode {
        width: 10em
      }
    }
  }
}