%p#notice= notice

%p
  %b Infinitif:
  = @verbe.infinitif
%p

%table#verbe1
  %tr
    %th#mode
    %th PRESENT
    %th IMPARFAIT
    %th PARFAIT
    %th FUTUR
  %tr
    %td#gras{:rowspan => 11} INDICATIF
    -(0..5).each do |personne|
      -(0..3).each do |temps|
        -rang = temps * 6 + personne
        -forme = @verbe.formes.where(rang_forme: rang).first
        -if forme and forme.italien != ''
          %td=Forme::FORMES[rang][1]+' '+forme.italien+' ('+forme.scores_formes.where(user_id: @user_eq_id).first.compteur.to_s+')'
        -else
          %td -
      %tr

%table#verbe2
  %tr
    %th#mode
    %th PRESENT
    %th IMPARFAIT
    %th IMPERATIF
    %th CONDITIONNEL
  %tr
    %td#gras{:rowspan => 11} SUBJONCTIF
    -(0..5).each do |personne|
      -(4..7).each do |temps|
        -rang = temps * 6 + personne
        -forme = @verbe.formes.where(rang_forme: rang).first
        -if forme and forme.italien != ''
          %td=Forme::FORMES[rang][1]+' '+forme.italien+' ('+forme.scores_formes.where(user_id: @user_eq_id).first.compteur.to_s+')'
        -else
          %td -
      %tr
%table#verbe3
  %tr
    %th GERONDIF
    %th PARTICIPE PASSE

  %tr
    -(48..49).each do |rang|
      -forme = @verbe.formes.where(rang_forme: rang).first
      -if forme and forme.italien != ''
        %td=Forme::FORMES[rang][1]+' '+forme.italien+' ('+forme.scores_formes.where(user_id: @user_eq_id).first.compteur.to_s+')'
      -else
        %td -
= link_to 'Corriger', edit_verbe_path(@verbe)
\|
= link_to 'Retour', verbes_path
