%header#page_header
  %table
    %th=link_to 'Vocabulaire', '#' \
    %th=link_to 'Conjugaison', '#' \
    %th=link_to 'Révision du vocabulaire', '#' \
    %th=link_to 'Révision des conjugaisons', '#' \
    %th=link_to 'Révision', '#' \
    %th=link_to 'Paramétrage', '#' \
    -if user_signed_in?
      %th=link_to "Déconnecter #{current_user.email}", destroy_user_session_path, method: :delete
    -else
      %th=link_to 'Connexion', new_user_session_path
  %hr